:root {
  --gold: #ffd700;
}

body {
  color: black;
}

.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid black;
}

.header {
  background-color: blue;
}

.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: orange;
}

.aside {
  float: right;

  width: 25%;
  height: 300px;
  background-color: gold;
}
